.input-fields {
    display: flex;
    justify-content: center;
    align-items: center;
};

.location-margin {
    margin: 0 10px;
};

.position-margin {
    margin: 0 10px;
};

.submit-margin {
    margin: 0 10px;
};

.input-padding {
    padding: 10px;
};


button {
    padding: 10px;
};
